<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.9">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{{ user_id }}'s Movies - MovieWeb App</title>
</head>
<body>
  <h1>{{ user_id }}'s Favourite Movies</h1>
<ul>
  {% for movie_id, movie in movies.items() %}
    <li>
        <strong>{{ movie.name }}</strong> ({{ movie.year }}) - Directed by {{ movie.director }}, Rated: {{ movie.rating }}
        <a href="{{ url_for('update_movie', user_id=user_id, movie_id=movie_id) }}">Edit</a>
        <a href="{{ url_for('delete_movie', user_id=user_id, movie_id=movie_id) }}">Delete</a>
    </li>
    {% endfor %}
</ul>
</body>
</html>